td{
	text-align: center;

}
td,th{
	padding: 12px;
	background-color: violet;
}
table{
	margin-top: 20px;
}
input{
	margin-top: 130px;
}

h1{
	position: relative;
	top:-80px;
	color: white;

}

.headerimage{
	width: 100px;
	border-radius: 50%;
}

#header{
	width: 300px;
	margin: 0 auto;
	text-align: center;
}
 body{
 	background-color:violet;
 	background-image: url('black maagic runway.gif');
 	background-repeat: no-repeat;
 	background-size: cover;
 }

 #imagesR{
 	float: right;
 	border: black 3px solid;
 	width: 15%;
 	height: 100%;
 	
	position: absolute;
	right: 0;
	top: 0;
}

#imagesL{
 	float: left;
 	border: black 3px solid;
 	width: 15%;
 	height: 100%;
 	
	position: absolute;
	left: 0;
	top: 0;
}

#imagesR img, #imagesL img{
	width: 100%;
	margin: 0;
}
#items{
	border:black 3px solid;
	margin: 0 auto;
	width: 20%;
	background-color: violet;
}
#items h2{
	text-align: center;
}